/* first page */
html{ font-size: 62.5% }/* 10px */
section{width:100%; height:100%; overflow: hidden;margin:0 auto;z-index:0;}
#firstPage{height:768px; background-color:#1f3763; font-size: 7rem; color:#fff; text-align: center;}
.blockTitle {position: absolute;/* 定位动画效果*/ margin:0 auto; width:100%;}
#loading{margin: 0;font-family: Blackadder ITC, 微软雅黑;}
#prog {
    position: relative;
    width: 500px;
    height: 36px;
    background-color:#1f3763;
    margin-top: -25px
}
/*上边框*/
#prog:before{
    content: '';
    display: inline-block;
    width: 510px;
    height: 2px;
    position: absolute;
    top: -8px;
    left: -5px;
    background-color: #fff;
}
/*左边框*/
#prog:after{
    content: '';
    display: inline-block;
    width: 2px;
    height: 48px;
    position: absolute;
    top: -6px;
    left: -5px;
    background-color: #fff;
}

progress::-moz-progress-bar { background: #1f3763; }
progress::-webkit-progress-bar { background: #1f3763; }/*bar背景*/
progress::-webkit-progress-value  { background: #fff; }/*bar过渡颜色*/

#numValue{ font-size: 4rem;width: 500px; margin: 0 auto; text-align: center;position: relative;}
/*下边框*/
#numValue:before{
    content: '';
    display: inline-block;
    width: 510px;
    height: 2px;
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: #fff;
}
/*右边框*/
#numValue:after{
    content: '';
    display: inline-block;
    width: 2px;
    height: 48px;
    position: absolute;
    top: -57px;
    right: -5px;
    background-color: #fff;
}
/*teamMembers模块 开始*/
#teamMembers .teamMember .memberPages{
	position:relative;
	width:936px;
	margin-left: auto;
	margin-right:auto;
}
#teamMembers .teamMember .memberPages article{
	height:702px;
	position:relative;
}
#teamMembers .teamMember .memberPages article .gravatar{
	text-align: center;
	width:200px;
	height:702px;
}
#teamMembers .teamMember .memberPages article .content{
	width:736px;
	height:702px;
	margin:-702px 0 0 200px;
}
#teamMembers .teamMember .memberPages article .topLine{
	width:936px;
	height:4px;
	background-color:#E8E8E8;
	position:absolute;
	top:-50px;
}
#teamMembers .teamMember .memberPages article .bottomLine{
	width:936px;
	height:4px;
	background-color:#E8E8E8;
	position:absolute;
	top:752px;
}
#teamMembers .teamMember .memberPages article .gravatar img{
	width:120px;
	height:120px;
	display:inline-block;
}
#teamMembers .teamMember .memberPages article p{
	margin:0;
	padding: 0;
	font-family: "Microsoft YaHei";
	font-size:2.4rem;
	color:#666666;
	margin-bottom:10px;
}
#teamMembers .teamMember .memberPages article .time p{
	font-size:2.8rem;
	margin-top:20px;
	color:#B8B8B8;
}
#teamMembers .teamMember .memberPages article .time p img{
	height:30px;
	float:right;
	margin-right:16px;
}
#teamMembers .teamMember .memberPages article .name{
	color:#67789D;
	font-size:3rem;
}
#teamMembers .teamMember .memberPages article .pic img{
	height:340px;
}
#teamMembers .teamMember .memberPages article .love{
	padding:46px 4px 0 10px;
	height:100px;
	background-image: url(../img/icon3.png);
	background-repeat: no-repeat;
}
#teamMembers .teamMember .memberPages article .love p img{
	height:30px;
	display:inline-block;
	margin-right:10px;
	vertical-align: middle;
}
#teamMembers .teamMember .memberPages article .love p{
	font-size: 2.2rem;
	color:#67789D;
}
#teamMembers .teamMember .memberPages article .love p span{
	color:#666666;
}
#teamMembers .teamMember .memberPages article .cutline{
	height:4px;
	background-color:#BFBFBF;
	margin-bottom: 10px;
}
/*teamMembers模块 结束*/