.headpic:after,
.headpic:before,
.people-message:after,
.people-message:before {
	content: "";
	display: block
}

.headpic:after,
.people-message:after {
	clear: both;
	overflow: hidden
}

.cotainer {
	width: 70%;
	margin: 0 auto
}

.top-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 20%;
	background-color: #383231;
	color: #fff;
	font-weight: 700;
	padding: 20px 10px
}

.top-header .button {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.top-header p {
	-webkit-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	margin: 0;
	text-align: center
}

.top-header .icon {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
	font-size: 130%
}

.head-wrapper {
	background-image: url(../img/bg.jpg);
	background-size: 100% 120%;
	height: 500px
}

.head-wrapper img {
	padding: 20px
}

.headpic p,
.headpic span {
	display: block;
	padding: 7px
}

.avatar {
	margin: -140px 30px 10px auto;
	float: right
}

.avatar img {
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #111
}

.content {
	margin: 100px 0;
	font-family: "Microsoft Yahei";
	overflow: hidden
}

.content hr {
	border: 0;
	height: 1px;
	background-color: #ccc
}

.people {
	margin: 25px 0
}

.headpic img {
	float: left;
	width: 11%
}

.headpic span {
	width: 80%;
	color: #67789D;
	font-weight: bolder;
	font-size: 1.5em;
	float: left
}

.headpic p {
	float: left
}

.people-message {
	margin-left: 157px
}

.people-message img {
	width: 70%
}

.people-message .tag {
	color: #aaa;
	font-size: 20px;
	font-weight: 600;
	width: 90%;
	margin: 10px 0
}

.people-message span {
	float: right;
	font-size: 27px;
	color: #67789D
}

.lovebox {
	margin: 10px 0 10px 135px;
	width: 80%;
	font-weight: 600
}

.love {
	display: inline-block;
	position: relative;
	background: #E6E8EA;
	color: #67789D;
	padding: 7px 10px;
	line-height: 1.5
}

.love:after,
.love:before {
	position: absolute;
	content: " "
}

.love:before {
	border: .75em solid transparent;
	border-bottom-color: #E6E8EA;
	top: -1.5em;
	left: 1.5em;
	height: 0;
	width: 0
}

.footer {
	width: 100%;
	height: 44px;
	text-align: center;
	margin-top: -44px
}

.footer span {
	display: block;
	text-align: center;
	line-height: 44px
}